---
---

* {
	padding: 0;
	margin: 0;
	list-style: none;
}

@mixin dark {
	@media (prefers-color-scheme: dark) {
		@content
	}
}

body {
	background: #fff;
	
	@include dark {
		background: #000;
	}
}

// PHOTO GRID

ul {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
	&:after {
    content: "";
    display: block;
    flex-grow: 10;
		outline: 2px solid #fff;
		position: relative;
		
		@include dark {
			outline-color: #000;
		}
  }

	.item {
		height: 40vh;
		flex-grow: 1;
		outline: 2px solid #fff;
		position: relative;
		background-size: 100%;

		@include dark {
			outline-color: #000;
		}

		img {
			max-height: 100%;
			min-width: 100%;
			object-fit: cover;
			display: block;
		}
		
		.open,
		.close {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			text-indent: 150%;
			overflow: hidden;
			white-space: nowrap;
		}
		
		.open {
			cursor: zoom-in;
			background-color: rgba(0, 0, 0, 0);
			transition: background-color .15s ease-out;
			
			&:hover,
			&:focus {
				background-color: rgba(0, 0, 0, .1);
			}
			
			&:active {
				background-color: rgba(0, 0, 0, .25);
			}
		}
		
		.close {
			display: none;
			cursor: zoom-out;
		}
		
		.full {
			display: none;
		}
		
		&:target {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			z-index: 10;
			background: #fff;
			display: flex;
			align-items: center;

			@media (prefers-color-scheme: dark) {
				background: #000;
			}
			
			.open {
				display: none;
			}
			
			.close {
				display: block;
			}
			
			img {
				object-fit: contain;
			}
			
			.full {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

@media (max-aspect-ratio: 1/1) {
	ul {
		.item {
			height: 30vh;
		}
	}
}

@media (max-height: 480px) {
	ul {
		.item {
			height: 80vh;
		}
	}
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
	ul {
		flex-direction: row;

		.item {
			height: auto;
			width: 100%;

			img {
				width: 100%;
				max-height: 75vh;
				min-width: 0;
			}
		}
	}
}

// BUTTONS

