---
---

* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 1em;
	box-sizing: border-box;
}

@mixin dark {
	@media (prefers-color-scheme: dark) {
		@content
	}
}

@mixin button {
	display: block;
	border-radius: 16px;
	text-indent: 150%;
	overflow: hidden;
	white-space: nowrap;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 8px;
	background-color: rgba(255, 255, 255, .25);
	transition: background-color .1s linear;
	-webkit-backdrop-filter: blur(20px);
	-moz-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	
	&:hover,
	&:focus {
		background-color: rgba(255, 255, 255, .5);
	}
	
	&:active {
		background-color: rgba(255, 255, 255, .25);
	}
}

body {
	font: 16px/24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #fff;

	@include dark {
		background: #000;
	}
}

// PHOTO GRID

.grid {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	&:after {
    content: "";
    display: block;
    flex-grow: 10;
		outline: 2px solid #fff;
		position: relative;

		@include dark {
			outline-color: #000;
		}
  }

	.item {
		height: 40vh;
		flex-grow: 1;
		outline: 2px solid #fff;
		position: relative;
		background-size: 100%;

		@include dark {
			outline-color: #000;
		}

		img {
			max-height: 100%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			object-fit: cover;
			display: block;
		}

		.open,
		.close {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			text-indent: 150%;
			overflow: hidden;
			white-space: nowrap;
		}

		.open {
			cursor: zoom-in;
			background-color: rgba(0, 0, 0, 0);
			transition: background-color .15s ease-out;

			&:hover,
			&:focus {
				background-color: rgba(0, 0, 0, .25);
			}

			&:active {
				background-color: rgba(0, 0, 0, .5);
			}
		}

		.close {
			display: none;
			cursor: zoom-out;
		}

		.full {
			display: none;
		}

		.previous,
		.next {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 20;
			width: 80px;
			display: none;
			align-items: center;
			justify-content: center;
			
			span {
				@include button;
				background-image: url(../img/icon-left.svg);
			}
			
			&:hover,
			&:focus {
				span {
					background-color: rgba(255, 255, 255, .5);
				}
			}

			&:active {
				span {
					background-color: rgba(255, 255, 255, .25);
				}
			}
		}

		.next {
			right: 0;
			left: auto;
			
			span {
				background-image: url(../img/icon-right.svg);
			}
		}

		&:first-child .previous,
		&:last-child .next {
			display: none !important;
		}

		.meta {
			display: flex;
			position: absolute;
			right: 4px;
			bottom: 12px;
			color: #fff;
			text-shadow: #000 0 1px 1px, #000 0 2px 4px;
			opacity: .5;
		
			li {
				margin-right: 12px;
			}
		}

		&:target {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			z-index: 10;
			background: #fff;
			display: flex;
			align-items: center;

			@media (prefers-color-scheme: dark) {
				background: #000;
			}

			.open {
				display: none;
			}

			.close {
				display: block;
			}

			img {
				object-fit: contain;
			}

			.full {
				display: flex;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				
				span {
					flex-grow: 1;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}

			.meta {
				display: none !important;
			}

			.previous,
			.next {
				display: flex;
			}
		}
	}
}

.links {
	position: fixed;
	bottom: 24px;
	right: 24px;
	display: flex;
	flex-wrap: wrap;
	
	li {
		margin-left: 8px;
		
		a {
			@include button;
		}
		
		&.github {
			a {
				background-image: url(../img/icon-github.svg);
			}
		}
		
		&.twitter {
			a {
				text-indent: 0;
				width: auto;
				font-size: 13px;
				line-height: 32px;
				text-transform: uppercase;
				padding: 0 12px 0 28px;
				color: rgba(0, 0, 0, .75);
				font-weight: 600;
				text-decoration: none;
				background-image: url(../img/icon-twitter.svg);
			}
		}
	}
}

@media (max-aspect-ratio: 1/1) {
	.grid {
		.item {
			height: 30vh;
		}
	}
}

@media (max-height: 480px) {
	.grid {
		.item {
			height: 80vh;
		}
	}
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
	.grid {
		flex-direction: row;

		.item {
			height: auto;
			width: 100%;

			img {
				width: 100%;
				height: auto;
			}
			
			.previous,
			.next {
				width: 25vw;
				max-width: auto;
				
				span {
					display: none;
				}
			}
			
			.previous {
				cursor: w-resize;
			}
			
			.next {
				cursor: e-resize;
			}
		}
	}
}