---
---

<!doctype html>
<html>
{% include head.html %}
<body>
	<ul class="grid">
		{% assign images = site.static_files | photo_filter %}
		{% for image in images %}
			{% include photo.html %}
		{% endfor %}
	</ul>
	<ul class="links">
		<li class="github"><a rel="me" href="https://github.com/maxvoltar/photo-stream" title="Fork on Github">Github</a></li>
		<li class="twitter"><a rel="me" href="https://twitter.com/{{ site.twitter_username }}" title="@{{ site.twitter_username }} on Twitter">{{ site.twitter_username }}</a></li>
	</ul>
	{% include javascript.html %}
</body>
</html>