<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>{{ site.title }}</title>
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:image" content="{% assign images = site.static_files | photo_filter %}{% for image in images limit: 1 %}{{ site.url }}/photos/large/{{ image.name }}{% endfor %}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta name="thumbnail" content="{% assign images = site.static_files | photo_filter %}{% for image in images limit: 1 %}{{ site.url }}/photos/large/{{ image.name }}{% endfor %}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{ site.twitter_username }}">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:image:src" content="{% assign images = site.static_files | photo_filter %}{% for image in images limit: 1 %}{{ site.url }}/photos/large/{{ image.name }}{% endfor %}">
	<meta name="description" content="{{ site.description }}">
	<script type="text/javascript" src="/js/lazy-loading.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="/css/master.css" />
	<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png" />
</head>