<script>
  const ESCAPE = 27;
  const RIGHT = 39;
  const LEFT = 37;

  const clickButton = (buttonClass) => {
    const id = window.location.hash && window.location.hash.replace(".", "\\.");
    const selector = `li${id} ${buttonClass}`;
    const button = document.querySelector(selector);
    button && button.click();
  }

  const navigate = (event, buttonClass, property) => {
    if (event.target.matches(buttonClass)) {
      const button = event.target.closest("li")[property];
      if (button) {
        const id = `#${button.getAttribute('id')}`;
        window.location = id;
        console.log(`Going to ${buttonClass}: ${id}`);
      }
      event.preventDefault();
    }
  }

  document.addEventListener("keydown", (event) => {
    if (event.keyCode === ESCAPE) {
      window.location = '#home';
      console.log('Going #home');
    } else if (event.keyCode === RIGHT) {
      clickButton('.next');
    } else if (event.keyCode === LEFT) {
      clickButton('.previous');
    }
  });

  document.addEventListener('click', (event) => {
    navigate(event, '.next', 'nextElementSibling');
    navigate(event, '.previous', 'previousElementSibling');
  });

  lazyload();
</script>
